{{yield}}
<a target="_blank" href="{{article.link}}">
  <article class="listing">
    <div class="content-wrapper">
      {{cloudinary-image article.image.url}}
      <div class="coucou">
          <h3>{{article.title}}</h3>
        <div class="detail summerize">
          {{article.summerize}}
        </div>
      </div>
    </div>
    <div class=" date">
      {{article.createdAt}}
    </div>
  </article>
</a>
