{{yield}}
<a target="_blank" href="{{gem.link}}">
  <article class="listing">
    <div class="content-wrapper">
      <img src="{{gem.image}}" alt="">
      <div class="coucou">
          <h3>{{gem.title}}</h3>
        <div class="detail summerize">
          {{gem.summerize}}
        </div>
      </div>
    </div>
    <div class=" date">
      {{gem.created}}
    </div>
  </article>
</a>
