{{yield}}
<a target="_blank" href="{{gemstory.link}}">
  <article class="listing">
    <div class="content-wrapper">
      {{cloudinary-image gemstory.image.url}}
      <div class="coucou">
          <h3>{{gemstory.title}}</h3>
        <div class="detail summerize">
          {{gemstory.summerize}}
        </div>
      </div>
    </div>
    <div class=" date">
      {{moment-format gemstory.createdAt 'MM-DD-YYYY'}}
    </div>
  </article>
</a>
