{{yield}}
<a target="_blank" href="{{gemstory.link}}">
  <article class="listing">
    <div class="content-wrapper">
      <img src="{{gemstory.image}}" alt="">
      <div class="coucou">
          <h3>{{gemstory.title}}</h3>
        <div class="detail summerize">
          {{gemstory.summerize}}
        </div>
      </div>
    </div>
    <div class=" date">
      {{gemstory.createAt}}
    </div>
  </article>
</a>
