<div class="jumbo show-listing">
  <h3 class="title">{{model.title}}</h3>
  <img src="{{model.image}}" class="article-pic">

  <div class="right detail-section">
    <div class="detail owner">
      <strong>Owner:</strong> {{model.summerize}}
    </div>
    <div class="detail">
      <strong>link:</strong> {{model.link}}
    </div>
  </div>
  <p class="created">{{model.createdAt}}</p>

</div>
