<div class="jumbo">
  <h2>Get in touch.</h2>
  <p>Feel free to contact me..regardless of the reason.</p>
</div>
<div class='cocou'>
  <form>
    <div>
      {{paper-input class="flex-30" label="E-mail" type="email" value=emailEmail onChange=(action (mut emailEmail))}}
    </div>
    <div>
      {{paper-input textarea=true block=true label="Content" maxlength=500 passThru=(hash rows=5 maxRows=5)
  value=emailContent onChange=(action (mut emailContent))}}
    </div>
    <div>
      {{#paper-button raised=true onClick=(action "createEmail")}}Send{{/paper-button}}
    </div>
  </form>


{{#paper-speed-dial
  onMouseEnter=(action (mut open2) true) onMouseLeave=(action (mut open2) false)
  open=open2 onToggle=(action (mut open2)) hoverFull=hoverFull as |dial|}}
  {{#dial.trigger}}
    {{#paper-button fab=true}}
      {{paper-icon "menu"}}
    {{/paper-button}}
  {{/dial.trigger}}

  {{#dial.actions as |actions|}}
    {{#actions.action}}
      {{#paper-button mini=true onClick=(action (mut showDialog) true)}}
        {{fa-icon "linkedin" size="lg"}}
      {{/paper-button}}
    {{/actions.action}}

    {{#actions.action}}
      {{#paper-button mini=true onClick=(action (mut showDialog) true)}}
        {{fa-icon "medium" size="lg"}}
      {{/paper-button}}
    {{/actions.action}}

    {{#actions.action}}
      {{#paper-button mini=true onClick=(action (mut showDialog) true)}}
        {{fa-icon "github" size="lg"}}
      {{/paper-button}}
    {{/actions.action}}
  {{/dial.actions}}
{{/paper-speed-dial}}
</div>
